<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1">
            <tr>
                <td>Name</td>
                <td>Role</td>
                <td>Experience</td>
            </tr>
            <% data.forEach(data=>{ %>
                <tr>
                    <td><%= data.name%></td>
                    <td><%= data.role%></td>
                    <td><%= data.experience %></td>
                </tr>
            <%})%>
    </table>
</body>

</html>